<section class="flex   flex-col items-center text-center mt-10">
  <div class="mt-10 w-80">
    <h1 class="text-4xl font-semibold text-amber-900">Habita</h1>
    <% if current_user %>
      <p class="text-2xl">こんにちは、<%= current_user.name %>さん！</p>

      <!-- Google -->
      <%= render "shared/google", current_user: %>

      <!-- Discord -->
      <%= render "shared/discord", current_user: %>

      <!-- LINE -->
      <%= render "shared/line", current_user: %>

  <% else %>
      <div class="mt-10">
        <p>
          Google カレンダーに登録した<br>大切な予定をお知らせします。
        </p>
      </div>
      <div class="mt-4">
        <p>
          もう予定をすっぽしたくないよ〜！
        </p>
        <p>
          いつもご迷惑おかけしてごめんなさい！
        </p>
      </div>

      <%= render "shared/line" %>
      <%= render "shared/google" %>
    <% end %>
  </div>
</section>